<%- include('partials/header.ejs') %>
<%- include('partials/navbar.ejs') %>

<div class="container">

  <!-- Mdp incorrect -->
  <% if (messageNotAdmin.length > 0) { %>
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <%= messageNotAdmin %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  <% } %>

  <!-- Déjà connecté -->
  <% if (alreadyConnected.length > 0) { %>
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <%= alreadyConnected %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  <% } %>

  <div class="row">

    <% listArticles.forEach(article => { %>

    <div class="col">
      <div class="card modif">
        <a href="/liste-des-articles/<%= article.articleId %> ">
          <img src="/uploads/<%= article.image %>" class="card-img-top" alt="Image : <%= article.titre %> ">
        </a>
        <div class="card-body">
          <h2 class="card-title"><%= article.titre %> </h2>
          <p class="card-text"><%= article.description %> </p>
          <p class="category_articles"><%= article.categories %> </p>
          <p class="dateAjout">Publié le : <%= moment(article.dateAjout).format('DD/MM/YYYY') %> </p>
          <p><%= article.userId %> </p>
        </div>
        <a href="/liste-des-articles/<%= article.articleId %> " class="btn btn-primary">Lire la
          suite...</a>
      </div>
    </div>

    <% }) %>

  </div>
</div>

<%- include('partials/footer.ejs') %>