<%- include('partials/header.ejs') %>
<%- include('partials/navbar.ejs') %>

<div class="container">

  <!-- Mdp incorrect -->
  <% if (messageNotAdmin.length > 0) { %>
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <%= messageNotAdmin %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  <% } %>

  <!-- Déjà connecté -->
  <% if (alreadyConnected.length > 0) { %>
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <%= alreadyConnected %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  <% } %>


  <!-- Départements -->
  <nav class="navbar navbar-expand-lg navbar-light text-center">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Les départements</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#category"
        aria-controls="category" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="category">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex align-items-center">
          <% categories.forEach(category => { %>
          <li class="nav-item">
            <a class="nav-link category-nav" href="/categories/<%= category.categoryId %> "><%= category.name %> </a>
          </li>
          <% }) %>
        </ul>
      </div>
    </div>
  </nav>

  <div class="row">

    <h2 class="text-center mb-5">Les articles les plus récents</h2>

    <% listArticles.forEach(article => { %>

    <div class="col-xl-4 col-md-6 d-flex justify-content-center">
      <div class="card modif">
        <a href="/liste-des-articles/<%= article.articleId %> ">
          <img src="/uploads/<%= article.image %>" class="card-img-top" alt="Image : <%= article.title %> "
            loading="lazy">
        </a>
        <div class="card-body">
          <h2 class="card-title"><%= article.title %> </h2>
          <a href="/categories/<%= article.categoryId %> "><%= article.name %> </a>
          <p class="dateAjout">Publié le : <%= moment(article.dateAdd).format('DD/MM/YYYY') %> </p>
          <p><%= article.userId %> </p>
          <p class="card-text"><%= article.description %> </p>
        </div>
        <a href="/liste-des-articles/<%= article.articleId %> " class="btn btn-card">Lire la
          suite...</a>
      </div>
    </div>

    <% }) %>

  </div>
</div>

<%- include('partials/footer.ejs') %>