<%- include('partials/header.ejs') %>
<%- include('partials/navbar.ejs') %>


<div class="container">
  <div class="row align-items-center">

    <% listArticles.forEach(article => { %>

    <div class="card col-3">
      <h2><%= article.titre %> </h2>
      <p><%= article.description %> </p>
      <p><%= article.categories %> </p>
      <p><%= article.userId %> </p>
      <img src="/uploads/<%= article.image %>" class="card-img-top" alt="Image : <%= article.titre %> ">
      <a href="/liste-des-articles/<%= article.articleId %> " class="btn btn-primary">Lire la suite...</a>
    </div>

    <% }) %>

  </div>
</div>


<%- include('partials/footer.ejs') %>