<%- include('partials/header.ejs') %>
<%- include('partials/navbar.ejs') %>

<div class="container">
    <div class="row">
        <h1 class="text-center"><%= articlesUsers[0].lastname %> <%= articlesUsers[0].firstname %> </h1>
    </div>
</div>

<h2 class="text-center"><%= totalArticles %> articles liés à cet auteur </h2>

<div class="container">
    <div class="row">
        <% articlesUsers.forEach(articlesUsers => { %>
        <div class="col-xl-4 col-md-6 d-flex justify-content-center">
            <div class="card modif">
                <img src="/uploads/<%= articlesUsers.image %> " class="card-img-top" alt="..." loading="lazy">
                <div class="card-body">
                    <h5 class="card-title"><%= articlesUsers.title %> </h5>
                    <a href="/categories/<%= articlesUsers.categoryId %> "><%= articlesUsers.name %> </a>
                    <p class="card-text"><%= articlesUsers.description %> </p>
                    <p class="card-text"> Publié le : <%= moment(articlesUsers.dateAdd).format('DD/MM/YYYY') %> </p>
                </div>
                <a href="/liste-des-articles/<%= articlesUsers.articleId %> " class="btn btn-primary">Lire la
                    suite...</a>
            </div>
        </div>
        <% }) %>
    </div>
</div>

<%- include('partials/footer.ejs') %>