<%- include('partials/header.ejs') %>
<%- include('partials/navbar.ejs') %>

<div class="container">
  <div class="row ">

    <!-- Tous les champs ne sont pas remplis -->
    <% if (messageFields.length > 0) { %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <%= messageFields %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <% } %>

    <div class="col">
      <!-- Sign in -->

      <!-- Inscrit avec succès -->
      <% if (messageRegisterSuccess.length > 0) { %>
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <%= messageRegisterSuccess %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      <% } %>

      <!-- Email incorrect -->
      <% if (messageEmailIncorrect.length > 0) { %>
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <%= messageEmailIncorrect %> <a href="/auth/register">ici</a>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      <% } %>

      <!-- Message de redirection après tentative d'accès à une page non autorisée -->
      <% if (messageNotConnected.length > 0) { %>
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <%= messageNotConnected %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      <% } %>

      <!-- Mdp incorrect -->
      <% if (messageMdpIncorrect.length > 0) { %>
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <%= messageMdpIncorrect %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      <% } %>

      <!-- Formulaire de connexion -->
      <form action="/auth/login" method="POST">
        <div class="mb-4">
          <h2 class="h4">Se connecter</h2>
        </div>

        <!-- Email -->
        <div class="mb-3">
          <div class="input-group">
            <input type="email" class="form-control form__input" name="email" placeholder="Votre email">
          </div>
        </div>

        <!-- Password -->
        <div class="mb-3">
          <div class="input-group">
            <input type="password" class="form-control form__input" name="password" placeholder="Votre mot de passe">
          </div>
        </div>

        <button type="submit" class="btn btn-block btn-primary">Se connecter</button>
      </form>

    </div>
  </div>
</div>


<%- include('partials/footer.ejs') %>