<%- include('partials/header.ejs') %>
<%- include('partials/navbar.ejs') %>


<div class="container">
    <div class="row">
        <!-- Erreur : les champs ne sont pas tous remplis ou format d'image incorrecte -->
        <% if (messageFields.length > 0) { %>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <%= messageFields %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <% } %>


        <h2 class="text-center mb-3">Publier un article</h2>

        <form action="/send" method="POST" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="title" class="form-label">Spot</label>
                <input type="title" class="form-control" id="title" name="title" placeholder="Titre">
            </div>

            <div class="mb-3">
                <label for="textarea" class="form-label">Description</label>
                <textarea class="form-control" id="textarea" name="description"
                    placeholder="Description de l'article"></textarea>
            </div>

            <!-- Date de publication (remplie par défaut avec la date d'aujourd'hui avec du javascript : fichier date.js) -->
            <div class="mb-3">
                <label for="dateAdd">Date de l'article :</label>

                <input type="date" id="dateAdd" name="dateAdd" value="" min="2021-01-01" max="">
            </div>

            <div class="mb-3">
                <label for="category">Choix du département :</label>

                <select name="categoryId" id="category">

                    <% categories.forEach(category => { %>
                    <option value="<%= category.categoryId %> "><%= category.name %> </option>
                    <% }) %>

                </select>

            </div>

            <div class="mb-3">
                <input type="file" class="form-control" aria-label="file example" name="image">
            </div>

            <div class="button-post">
                <button class="btn btn-primary" type="submit">Envoyer</button>
            </div>
        </form>

    </div>
</div>

<script src="/js/date.js"></script>
<%- include('partials/footer.ejs') %>