<%- include('partials/header.ejs') %>
<%- include('partials/navbar.ejs') %>

<div class="container">

    <!-- Profil modifié -->
    <% if (messageUpdateSuccess.length > 0) { %>
    <div class="alert alert-success" role="alert">
        <%= messageUpdateSuccess %>
    </div>
    <% } %>

    <div class="row">
        <a href="/updateProfil/<%= userProfil.userId %> ">
            Modifier le profil
        </a>
        <p>Nom : <%= userProfil.lastname %></p>
        <p>Prénom : <%= userProfil.firstname %></p>
        <p>Adresse mail : <%= userProfil.email %></p>
        <img style="width: 50px;" src="/uploads/profil/<%= userProfil.profilPicture %> ">

        <!-- <form action="/addProfilPicture" method="post" enctype="multipart/form-data">
            <input class="form-control" type="file" id="formFile" name="image">
            <div class="mb-3">
                <button class="btn btn-primary" type="submit">Ajouter</button>
            </div>
        </form> -->

    </div>
</div>

<div class="container">
    <div class="row">
        <h2>Historique des articles</h2>
        <div class="col">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">id</th>
                        <th scope="col">Photos</th>
                        <th scope="col">Noms</th>
                        <th scope="col">Détails</th>
                        <th scope="col">Modifier</th>
                        <th scope="col">Supprimer</th>
                    </tr>
                </thead>
                <tbody>
                    <% articles.forEach(article => { %>
                    <tr>
                        <th scope="row"><%= article.articleId %></th>
                        <td><img src="/uploads/<%= article.image %>" class="img-thumbnail" alt=""></td>
                        <td><%= article.titre %></td>
                        <td>
                            <a href="/liste-des-articles/<%= article.articleId %> " class="btn btn-primary">Détails</a>
                        </td>
                        <td>
                            <a href="/updateArticle/<%= article.articleId %>" class="btn btn-warning">Modifier</a>
                        </td>
                        <td>
                            <form action="/delete/<%= article.articleId %>?_method=DELETE" method="POST">
                                <button type="submit" class="btn btn-danger">Supprimer</button>
                            </form>
                        </td>
                    </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </div>
</div>

<%- include('partials/footer.ejs') %>