<%- include('partials/header.ejs') %>
<%- include('partials/navbar.ejs') %>

<div class="container">

    <!-- Profil modifié -->
    <% if (messageUpdateSuccess.length > 0) { %>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <%= messageUpdateSuccess %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <% } %>

    <!-- Erreur : pas d'images sélectionnée pour le profil -->
    <% if (noImage.length > 0) { %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <%= noImage %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <% } %>

    <div class="row" id="profil-user">

        <div class="profil-details">

            <img src="/uploads/profil/<%= userProfil.profilPicture %> " class="photo-profil">

            <div class="form-photo-profil">
                <!-- Ajouter une photo de profil -->
                <form action="/addProfilPicture/<%= userProfil.userId %>?_method=PUT" method="post"
                    enctype="multipart/form-data" class="profil-form-picture">
                    <span class="file-input btn btn-primary btn-file">
                        Choisir...
                        <input class="form-control" type="file" id="formFile" name="image">
                    </span>
                    <button class="btn btn-primary" type="submit">Ajouter</button>
                </form>

                <!-- Supprimer une photo de profil -->
                <form id="delete-profil-picture" class="formDelete text-center"
                    action="/deleteProfilPicture/<%= userProfil.userId %>?_method=DELETE" method="post"
                    enctype="multipart/form-data">
                    <button type="submit" class="btn btn-danger">Supprimer votre photo de profil</button>
                </form>
            </div>

            <hr>

            <div class="profil-infos">
                <h2 class="text-center">Détails de votre profil</h2>
                <p class="text-infos-profil"><span> Nom :</span> <%= userProfil.lastname %></p>
                <p class="text-infos-profil"><span>Prénom :</span> <%= userProfil.firstname %></p>
                <p class="text-infos-profil"><span>Adresse mail :</span> <%= userProfil.email %></p>
            </div>

            <div class="profil-update-delete">
                <a href="/updateProfil/<%= userProfil.userId %> " class="btn btn-warning">
                    Modifier le profil
                </a>
                <form class="formDelete" action="/deleteProfil/<%= userProfil.userId %>?_method=DELETE" method="POST">
                    <button type="submit" class="btn btn-danger">Supprimer</button>
                </form>
            </div>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="history-articles-user">

            <h2 class="text-center">Historique des articles</h2>
            <div class="col">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">id</th>
                                <th scope="col">Photo</th>
                                <th scope="col">Nom</th>
                                <th scope="col">Date de publication</th>
                                <th scope="col">Détails</th>
                                <th scope="col">Modifier</th>
                                <th scope="col">Supprimer</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% if (articles.length < 1) { %>
                            <tr>
                                <td>
                                    Vous n'avez pas encore publié
                                </td>
                            </tr>
                            <% } %>
                            <% articles.forEach(article => { %>
                            <tr>
                                <th scope="row"><%= article.articleId %></th>
                                <td><img src="/uploads/<%= article.image %>" class="img-thumbnail" alt=""></td>
                                <td><%= article.titre %></td>
                                <td><%= moment(article.dateAjout).format('DD/MM/YYYY') %></td>
                                <td>
                                    <a href="/liste-des-articles/<%= article.articleId %> "
                                        class="btn btn-primary">Détails</a>
                                </td>
                                <td>
                                    <a href="/updateArticle/<%= article.articleId %>"
                                        class="btn btn-warning">Modifier</a>
                                </td>
                                <td>
                                    <form class="formDelete" action="/delete/<%= article.articleId %>?_method=DELETE"
                                        method="POST">
                                        <button type="submit" class="btn btn-danger">Supprimer</button>
                                    </form>
                                </td>
                            </tr>
                            <% }) %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('partials/footer.ejs') %>