<%- include('partials/header.ejs') %>
<%- include('partials/navbar.ejs') %>

<div class="container">
  <div class="row ">

    <div class="col">
      <!-- Sign in -->

      <!-- Email déjà utilisé -->
      <% if (messageEmailUsed.length > 0) { %>
      <div class="alert alert-danger" role="alert">
        <%= messageEmailUsed %>
      </div>
      <% } %>

      <!-- Tous les champs ne sont pas remplis -->
      <% if (messageFields.length > 0) { %>
      <div class="alert alert-danger" role="alert">
        <%= messageFields %>
      </div>
      <% } %>

      <!-- Les mots de passe ne sont pas identiques -->
      <% if (messageDoubleChekMdp.length > 0) { %>
      <div class="alert alert-danger" role="alert">
        <%= messageDoubleChekMdp %>
      </div>
      <% } %>

      <!-- Formulaire d'inscription -->
      <form action="/auth/register" method="POST">
        <div class="mb-4">
          <h2 class="h4">S'inscrire</h2>
        </div>

        <!-- Lastname -->
        <div class="mb-3">
          <div class="input-group">
            <input type="text" class="form-control form__input" name="lastname" placeholder="Votre nom"
              <% if (locals.form) { %> value="<%= locals.form.lastname %>" <% } %>>
          </div>
        </div>

        <!-- Firstname -->
        <div class="mb-3">
          <div class="input-group">
            <input type="text" class="form-control form__input" name="firstname" placeholder="Votre prénom"
              <% if (locals.form) { %> value="<%= form.firstname %>" <% } %>>
          </div>
        </div>

        <!-- Email -->
        <div class="mb-3">
          <div class="input-group">
            <input type="email" class="form-control form__input" name="email" placeholder="Votre email"
              <% if (locals.form) { %> value="<%= form.email %>" <% } %>>
          </div>
        </div>

        <!-- Password -->
        <div class="mb-3">
          <div class="input-group">
            <input type="password" class="form-control form__input" name="password" placeholder="Votre mot de passe">
          </div>
        </div>

        <!-- Confirm password -->
        <div class="mb-3">
          <div class="input-group">
            <input type="password" class="form-control form__input" name="confirmPassword"
              placeholder="Confirmez votre mot de passe">
          </div>
        </div>

        <button type="submit" class="btn btn-block btn-primary">S'inscrire</button>
      </form>

    </div>
  </div>
</div>


<%- include('partials/footer.ejs') %>