<%- include('partials/header.ejs') %>
<%- include('partials/navbar.ejs') %>

<h1 class="text-center"><%= article.title %> </h1>

<div class="container">
    <div class="row">
        <div class="d-flex justify-content-center" id="article-column">
            <div class="col-lg-7" id="article-gutter">
                <img src="/uploads/<%= article.image %> " class="single-article-image" alt="...">
            </div>
            <div class="col-lg-5" id="test">
                <div class="test">
                    <h5 class="card-title"><%= article.title %> </h5>
                    <p class="card-text"><%= article.description %> </p>
                    <p class="card-text"> Publié le : <%= moment(article.dateAdd).format('DD/MM/YYYY') %> </p>
                    <p>Publié par : <a href="/listeArticlesUser/<%= article.userId %> "><%= article.firstname %>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('partials/footer.ejs') %>