<%- include('partials/header.ejs') %>
<%- include('partials/navbar.ejs') %>

<!-- Il n'y a pas d'image -->
<% if (noImage.length > 0) { %>
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    <%= noImage %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<% } %>

<div class="container">
    <form action="/update-article/<%= article.articleId %>?_method=PUT " method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Spot</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Spot" name="title"
                value="<%= article.title %> ">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Description</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="description">
                <%= article.description %> 
            </textarea>
        </div>
        <div class="mb-3">
            <label for="formFile" class="form-label">Image</label>
            <input class="form-control" type="file" id="formFile" name="image" value="/uploads/<%= article.image %> ">
            <p>Image actuelle :</p>
            <img src="/uploads/<%= article.image %> " class="img-thumbnail" alt="">
        </div>
        <button type="submit" class="btn btn-warning">Modifier</button>
    </form>
</div>

<%- include('partials/footer.ejs') %>