<%- include('partials/header.ejs') %>
<%- include('partials/navbar.ejs') %>

<div class="container">
    <form action="/update-profil/<%= userProfil.userId %>?_method=PUT " method="POST" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="updateLastname" class="form-label">Nom</label>
            <input type="text" class="form-control" id="updateLastname" name="lastname"
                value="<%= userProfil.lastname %> ">
        </div>
        <div class="mb-3">
            <label for="updateFirstname" class="form-label">Prénom</label>
            <input class="form-control" id="updateFirstname" rows="3" name="firstname"
                value="<%= userProfil.firstname %>">
        </div>
        <div class="mb-3">
            <label for="updateMail" class="form-label">Adresse mail</label>
            <input class="form-control" id="updateMail" rows="3" name="email" value="<%= userProfil.email %>">
        </div>
        <!-- <div class="mb-3">
            <label for="updatePassword" class="form-label">Mot de passe</label>
            <input class="form-control" id="updatePassword" rows="3" type="password" name="password"
                value="<%= userProfil.password %>">
        </div> -->
        <button type="submit" class="btn btn-primary">Modifier</button>
    </form>
</div>

<%- include('partials/footer.ejs') %>